/* Soluzione qui */
@media screen and (min-width: 576px) {
  .clearfix > img {
    float: left;
    margin-right: 20px;
  }
  .btn {
    min-width: 98px;
  }
}

@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }
  main {
    padding: 50px;
  }
  .recipe-origin {
    display: inline;
  }
  .recipe-name {
    font-size: 30px;
  }
  .quick-notes > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
  }
  .blender,
  .clock,
  .pie,
  .cost,
  .pin {
    width: calc(100% / 3 - 10px * 2 / 3);
  }
  .social-networks > button {
    padding: 10px 30px;
    width: 200px;
  }
  .ads {
    display: block;
  }
  .clearfix > img {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .recipe-name {
    font-size: 50px;
  }
  .recipe-card {
    display: flex;
  }
  .recipe-video {
    flex-grow: 1;
    height: 442px;
  }
  .quick-notes > ul {
    display: block;
  }
  .blender,
  .clock,
  .pie,
  .cost,
  .pin {
    width: auto;
  }
  .btn > .label {
    display: inline;
    padding-left: 5px;
  }
  footer {
    display: flex;
    text-align: unset;
    justify-content: space-between;
  }
}
