/* Soluzione qui */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }
  main {
    padding: 50px;
  }
  .recipe-origin {
    display: inline;
  }
  .recipe-name {
    font-size: 30px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
  }
  ul > * {
    width: calc(100% / 3 - 10px * 2 / 3);
  }
  .social-networks > button {
    padding: 10px 50px;
  }
  .ads {
    display: block;
  }
  .clearfix > img {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .recipe-name {
  }
}
